{{- range $conf := .Values.dpuFlavors }}
---
apiVersion: provisioning.dpu.nvidia.com/v1alpha1
kind: DPUFlavor
metadata:
  name: {{ $conf.name | quote }}
  namespace: {{ $.Release.Namespace }}
spec:
  grub: {{ $conf.grub | toYaml | nindent 4 }}
  nvconfig: {{ $conf.nvconfig | toYaml | nindent 4 }}
  ovs: {{ $conf.ovs | toYaml | nindent 4 }}
  bfcfgParameters: {{ $conf.bfcfgParameters | toYaml | nindent 4 }}
  hostNetworkInterfaceConfigs: {{ $conf.hostNetworkInterfaceConfigs | toYaml | nindent 4 }}
  configFiles: {{ $conf.configFiles | toYaml | nindent 4 }}
{{- end }}