{{- range $conf := .Values.dpuServiceTemplates }}
---
apiVersion: svc.dpu.nvidia.com/v1alpha1
kind: DPUServiceTemplate
metadata:
  name: {{ $conf.name | quote }}
  namespace: {{ $.Release.Namespace }}
spec:
  {{- if $conf.deploymentServiceName }}
  deploymentServiceName: {{ $conf.name | quote }}
  {{- end }}
  {{- if $conf.helmChart }}
  helmChart: {{ $conf.helmChart | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.resourceRequirements }}
  resourceRequirements: {{ $conf.resourceRequirements | toYaml | nindent 4 }}
  {{- end }}
{{- end }}